<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>音乐播放器</title>


</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <div id="app">
        <div id="search">
            <input type="text" v-model="query" @keydown.enter="search">
            <button @click="search">搜索</button>
        </div>
        <div id="songTitle">
            <p>{{songValue}}</p>
            <div class="Process">
                <!-- Process -->
                <div class="ProcessAll" id="processall" ></div> <!-- ProcessAll -->
                <div class="ProcessNow" id="processnow" ></div> <!-- ProcessNow -->
                <audio id="audio" :src="songUrl" ></audio>

            </div>
        </div>
        <div id="container">
            <image id="pan" :src="songPic" :style="{transform: musicRotate}"></image>

            <div id="continue">

            </div>
            <div id="pause">
                <img src="pic/上一首.png" alt="">
                <img v-if="play" src="pic/暂停.png" alt="" class="pauseBox" @click="onPause"
                    style="height: 40px; width: 40px; padding: 10px; margin-top: 0;">
                <img v-else src="pic/播放.png" alt="" class="pauseBox" @click="onPlay"
                    style="height: 40px; width: 40px; padding: 10px; margin-top: 0;">
                <img src="pic/下一首.png" alt="">
            </div>
        </div>
        <div id="listBox">
            <div id="list">
                <ul>
                    <li id="songlist" v-for="item in songList" @click="choose(item.id,item.name)">{{item.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="vue.js"></script>

</body>

</html>